<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/blog.css">
    <title>Blog</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="navbarNav ">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contacto <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tienda en Línea</a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="jumbotron">
    </div>
    <nav>
        <ul class="nav nav-pills nav-fill justify-content-center nav2">
            <li class="nav-item">
                <a class="nav-link  nav-link2" href="#">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link2" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link2" href="#">Rastreo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link2" href="#" tabindex="-1" aria-disabled="true">Otros Vendedores</a>
            </li>
        </ul>
    </nav>
    <main >
        <section class="blog0">
            <div class="blog1">
                <form class=" btn1 form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <div>
                    <h3 class="h3">2 Ideas para decorar tu patio pequeño</h3>
                    <p class="Texto-blog">
                        En esta fuerte crisis sanitaria en la que nos encontramos inmersos, los que tenemos un pequeño espacio al aire libre en nuestra casa podemos sentirnos afortunados. El cuidado del jardín y las plantas es, en estos días, la mejor de las terapias para combatir la ansiedad, la tristeza y la sensación de zozobra que a muchos nos invade.
de afrontar grandes proyectos, creo que sí es bueno realizar actividades para estar entretenidos y que nuestras mentes se evadan de nuestro confinamiento físico. En nuestro caso, con la reforma del jardín trasero totalmente paralizada, nos las ingeniamos para distraernos con el huertecito de la terraza. También vamos pensando el diseño del futuro jardín, aunque hoy solo sea un pequeño solar en el que solo crece el olivo. 
Estamos deseando convertir nuestro patio al aire libre en un bonito refugio acogedor donde disfrutar los cálidos días que se aproximan.                                                                       Tomar el sol, leer un libro, reunirnos de nuevo con amigos y vecinos, o relajarnos en un bonito jardín rodeados de plantas. Hemos reunido muchas ideas innovadoras, decorativas y cómodas para dar un toque acogedor a nuestro espacio exterior. Hoy compartimos algunas de las más inspiradoras que hemos encontrado, espero que os gusten. La última es la que más nos agrada a nosotras para nuestro porche, ahora convertido en balcón.           
                    </p>
                </div>
            </div>
            <div class="blog2">
            <img class="imagen1" src="https://1.bp.blogspot.com/-efotlrfD7NI/XoI0qnog3JI/AAAAAAAAnbo/zXxngv5hnf8Y9GSzxN3p4KsmjxQ8ZqUIQCLcBGAsYHQ/s1600/jardin-peque%25C3%25B1o.jpg" alt="">    
            <img class="imagen2"src="https://1.bp.blogspot.com/-2y3TsbrprBc/XoI6Ttmg0-I/AAAAAAAAnb0/uvZE7-AaSxcjR4kx9qp69EjRVeW9oQNFwCLcBGAsYHQ/s1600/banco-porche.jpg" alt="">

            </div>
        </section>
    </main>
    <section>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">

    </section>
    


</body>

</html>