<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/recomendacion.css" />
    <title>Recomendación</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="navbarNav ">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contacto <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quiénes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tienda en Línea</a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="jumbotron">
    </div>
    <nav>
        <ul class="nav nav-pills nav-fill justify-content-center nav2">
            <li class="nav-item">
                <a class="nav-link  nav-link2" href="#">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link2" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link2" href="#">Rastreo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link2" href="#" tabindex="-1" aria-disabled="true">Recomendación</a>
            </li>
        </ul>
    </nav>

    <section class="fondo">
        <h2 class="titulo" >Selecciona el tipo de clima de tu región y encuentra tu semilla indicada.</h2> 
        <div class="container">
        <div class="row">  
            <div class="column"> 
                <br>
                <br>
                <br>  
                <section class="input tamano1">
                    
                    <!--climatemplado-->
                    
                    <button onclick="seleccionarClima('ciudad')" type="button tamano2" class="btn btn-secondary btn-lg botton" id="clima-templado">Clima Templado</button>
                    <br>
                    <br>
                    <br>
                    <!-- climaseco -->
                    
                    <button onclick="seleccionarClima('desierto')" type="button tamano4" class="btn btn-secondary btn-lg botton" id="clima-seco">Clima Seco</button>
                    <br>
                    <br>
                    <br>
                    <!--climatropical-->
                    
                    <button onclick="seleccionarClima('tropical')" type="button tamano6" class="btn btn-secondary btn-lg botton" id="clima-tropical">Clima Tropical</button>
                </section>
                
            </div>
            <div class="texto" id="resultado">
            
            
            </div>
        </div>    
        </div>
        
    </section>

<script src="../scripts/recomendacion.js"></script>
</body>
</html>