<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/team.css">

    <title>El equipo</title>
</head>
</nav>
<div class="jumbotron">
</div>
<nav>
    <ul class="nav nav-pills nav-fill justify-content-center nav2">
        <li class="nav-item">
            <a class="nav-link  nav-link2" href="#">Galería</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link2" href="#">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link2" href="#">Rastreo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link2" href="#" tabindex="-1" aria-disabled="true">Otros vendedores</a>
        </li>
    </ul>
</nav>
<main>
    <div class="col-12 col-sm-6 col-md-3"></div>
</main>
<section>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">



</section>
<div align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="center"> Acerca de Nosotros <h1>
            <br>
            
            

</div>


<body>

    <div class="card-deck">
        <div class="card">
            <img   class="img-mediana"src="/assets/jpg/amy.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title equipo">Amy</h5>
                <br>
                <p class="card-text equipo2">Amy Gomez.Ing. Sistemas apasionada por la jardineria, su meta es lograr
                    mezclar la informatica con su hobbie para que mas personas puedan acercarse al mundo de la
                    jardineria, sus plantas favoritas son las Hoyas.</p>

            </div>
        </div>
        <div class="card">
            <img   class="img-mediana"src="/assets/jpg/loarca.png" class="card-img-top" alt="...">
            <br>
            <div class="card-body">
                <h5 class="card-title equipo">Carlos Loarca</h5>
                <br>
                <p class="card-text equipo2">Carlos Loarca Ing. en Sistemas me apasionan los retos y ser creador de
                    soluciones para facilitar y edificar tus logros con metodologiás aǵiles. Me encanta el trail a campo
                    abierto y montaña</p>

            </div>
        </div>
        <div class="card">
            <img  class="img-mediana" src="/assets/jpg/cPena.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title equipo">Carlos Peña</h5>
                <br>
                <p class="card-text equipo2">Me apasiona el deporte, bailar y la música., estar con buenas amistades. Mis encanta el sushi, el chocolate y estar buenas amistades.  Soy del Edo. de México.
                    </p>

            </div>
        </div>
    </div>



</body>

</html>